process {

    withName: '.*:BEDTOOLS_SUBTRACT' {
        ext.prefix = { "${meta.id}_subtract" }
    }

    withName: '.*:BEDTOOLS_COMPLEMENT' {
        ext.prefix = { "${meta.id}_filter" }
    }

    withName: '*:BCFTOOLS_REHEADER' {
        ext.args = { "--samples-list '${meta.id}" }    
    }

    withName: '.*:CANVAS_GERMLINE' {
        publishDir = [
            path: "${params.outdir}/canvas",
            mode: 'copy',
            pattern: '*.vcf.gz'
        ]
    }

    withName: '.*:GAWK_CREATESEG' {
        ext.suffix = 'seg'
        ext.prefix = {"${meta.id}_germline_CNV"}
        publishDir = [
            path: "${params.outdir}/canvas",
            mode: 'copy',
            pattern: '*.seg'
        ]
    }

    withName: '.*:BCFTOOLS_NORM' {
        ext.args = {[
            '--exclude ID~"Canvas:REF"', 
            '--apply-filters PASS,q7,L10kb',
        ].join(' ')}
    }

    withName: '.*:GAWK_REFORMAT' {
        ext.suffix = 'vcf'
        ext.prefix = {"${meta.id}.formatted"}
        ext.args = { "-v expected_x_cn=${meta.sex}" }
    }

    withName: '.*:TABIX_BGZIP' {
        publishDir = [
            path: "${params.outdir}/canvas",
            mode: 'copy',
            pattern: '*.vcf.gz'
        ]
    }

    withName: '.*:BCFTOOLS_VIEW' {
        ext.args = {[
            '--output-type z',
            '--apply-filters PASS,q7,L10kb',
            '--exclude ID~"Canvas:REF"',
        ].join(' ')}
        publishDir = [
            path: "${params.outdir}/canvas",
            mode: 'copy',
            pattern: '*.vcf.gz'
        ]
    }    
}
