
params {
       input           = "/home/xrahsi/rd_validation/samplesheet/samplesheet_MT.csv"
       outdir          = "/home/xrahsi/rd_validation/output"
       local_genomes   = "/apps/bio/dependencies/nf-core/nf-core_raredisease"
       genome          = 'GRCh37'
       save_reference  = true
       igenomes_ignore = true 
       variant_caller  = 'sentieon'
       //aligner       = 'sentieon'   
}

// custom_config_base variable should be updated when the medair.config is merged!
includeConfig '/home/xrahsi/repos/nf-core-configs/conf/medair.config'  

// This is a replacement of genomes.config
includeConfig '/home/xrahsi/repos/nf-core-raredisease/conf/cgg_genomes.config'